Source: ros-kinetic-turtlebot3-simulations
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot3-simulations
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-turtlebot3-fake, ros-kinetic-turtlebot3-gazebo
Description: ROS packages for the turtlebot3 simulation (meta package)
