Source: ros-kinetic-turtlebot3-gazebo-plugin
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot3-gazebo-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Gazebo standalone simulation package for the TurtleBot3
